body{

    background-color: white;
}

@media print{
	/* All styles for print should goes here */
	.container{
		width: 95%;
		height: auto;
		margin: 50px auto;
	}
}
.invoice-panel{
    transform-origin: top;
    position: relative;
    left: 15%;
    width:210mm; 
    height:297mm;
    background-color: white;

    box-shadow: 1px 2px 20px rgba(0, 0, 0, .5);
}
@media (min-width: 768px) and (max-width: 1024px){
    .invoice-panel {
        left: 8%;
    }
}
@media (min-width: 1025px) and (max-width: 1280px){ 
    .invoice-panel {
        left: 8%;
    }
} 


.wrapper{
    
    width: 100%;
}
.invoice-font{
    font-size: 0.85em;
}
.invoice-content{
    position: relative;
}

.invoice-logo{
    
    left:15%;
    transform: scale(0.6);
   
    position: absolute;
}
.invoice-title{
    top:3.5%;
    left: 68%;
    font-size: 40px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    position: absolute;
    
    float: right;
    text-align: center;
    text-transform: uppercase;

}

.invoice-top-img{
    width: 100%;

}

.invoice-info{
    position: relative;
    padding: 5% 10% 0 10%;
    
}

.invoice-label{
    display: inline-block;
    width: 30%;
    font-size: 0.8em;
    text-align: right;
}

.invoice-input{
    display: inline-block;
    width: auto;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;   
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.invoice-table-content{
    font-size: 0.8em;
    width: 100%;
}

table td {
    font-size: 0.8em;
}

.icon-box{
    border: none !important;
    width: 150px;
    text-align: left;
}
.calc{
    
    line-height: 1.5em;
    text-align: center;
}
.total-desc{
    font-size: 0.9em;
    font-weight: 600;
}
.sign-area{
    position: absolute;
    z-index: 22;
}
.invoice-sign{
    font-size: 0.8em;
}

.signholder{
    position: relative;
    width: 80px;
    height: 80px;
}
.invoice-bottom{
    margin-bottom : 0;
    /* padding:12px 0 0 0; */
    padding: 14% 0 0 0;
    position: absolute;
}

.invoice-bottom-logo{
    
    position: relative;    
}

.invoice-footer-text{
    
    left: 55%;
    bottom: 5%;
    position: absolute;
    font-size: 0.7em;    
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;    
    text-align: center;
}
.invoice-input-desc{
    width: 300px !important;
    text-align: left !important;
}
.invoice-input-2{

    width: auto; 
    background-color: #fff;
    
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
        
    border: none;   
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: center;
}
.invoice-area-label{
   
    width: 50%;
    font-size: 0.8em;
    text-align: right;
    line-height: 1.5rem;
    padding-right: 10px;
}

.convert-button{
    font-size:0.8em;
    text-align: center;
    display: block;
    color:#fff;
    background-color: rgb(54,155,215);
    position: absolute;
    top:25px;
    right: 234x;
    width: 100px ;
    height: 40px;
    
}

.convert-button:hover{
    background-color:rgb(0, 137, 216);
}

.invoice-area-container{
    display: flex;
    position: relative;
}
.invoice-area-container textarea {

    
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
    box-sizing: border-box;
    
    border: none;
    
  }
/* .invoice-area{
    
    text-align: left;
    line-height: 0.25rem;
    margin-left: 20px;
    overflow: hidden;
    resize: none;
    border: none;
    font-size: 0.8em;
    vertical-align: middle;
} */



.floating-btn{
    position:fixed;
    width:70px;
    height:auto;
    bottom:100px;
    right:70px;

}
.floating-btn ul{
    list-style: none;
}
.floating-btn ul li{
    font-size: 25px;
    margin-bottom: 10px;
    width:60px;
    height: 60px;    
    background-color:rgb(13,109,166);
    color:rgb(243, 243, 243);
    border-radius:50px;    
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}


.btn-float-right-bottom{
    margin-top:20px;
  
}
.floating-btn ul li:hover{
    background-color:rgb(0, 137, 216);
    transition: ease-in-out 0.3s ;

}

.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }


  .footer {
    position: fixed;
    color:white;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: rgb(13,109,166);
  }

  .divider-100{
      width: auto;
      position: relative;
      height: 100px;
  }

  
  .divider-200{
    width: auto;
    position: relative;
    height: 200px;
}

.action{
    position: absolute;
    display: inline-flex;
}
.action a{
    margin: 2px;
    font-size: 10px;
}
