body{
    background-color: white;
}

.invoice-panel{
    transform-origin: top;
    position: relative;
    left: 15%;
    width:210mm; 
    height:297mm;
    background-color: white;

    box-shadow: 1px 2px 20px rgba(0, 0, 0, .5);
}
@media (min-width: 768px) and (max-width: 1024px){
    .invoice-panel {
        left: 8%;
    }
}
@media (min-width: 1025px) and (max-width: 1280px){ 
    .invoice-panel {
        left: 8%;
    }
} 


.wrapper{

    width: 100%;
}
.invoice-font{
    font-size: 0.85em;
}
.invoice-content{
    position: relative;
}

.invoice-logo{
    
    left:15%;
    transform: scale(0.6);
   
    position: absolute;
}
.invoice-title{
    top:3.5%;
    left: 68%;
    font-size: 40px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    position: absolute;
    
    float: right;
    text-align: center;
    text-transform: uppercase;

}

.invoice-top-img{
    width: 100%;

}

.invoice-info{
    position: relative;
    padding: 10% 10% 0 10%;
    
}

.invoice-label{
    display: inline-block;
    width: 30%;
    font-size: 0.8em;
    text-align: right;
}

.invoice-input{
    display: inline-block;
    width: auto;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;   
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.invoice-table-content{
    font-size: 0.8em;
    width: 100%;
}


.icon-box{
    border: none !important;
    width: 150px;
    text-align: left;
}
.calc{
    text-align: right;
}

.invoice-sign{
    font-size: 0.8em;
}

.signholder{
    position: relative;
    width: 150px;
    height: 150px;
}
.invoice-bottom{
    bottom: 0;
    position: relative;
}

.invoice-bottom-logo{
    
    position: absolute;    
}

.invoice-footer-text{
    
    left: 55%;
    margin-top: 5%;
    position: absolute;
    font-size: 0.7em;    
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;    
    text-align: center;
}

.invoice-input-2{
    display: inline-block;
    width: auto;
 
    background-color: #fff;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
        
    border: none;   
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: center;
}

.invoice-area{
    margin-left: 10px;
    overflow: hidden;
    resize: none;
    border: none;
    font-size: 0.8em;
    vertical-align: middle;
}

.convertToText{
    font-size: 0.8em;
    
    position: absolute;
}

.floating-btn{
    position:fixed;
    width:70px;
    height:auto;
    bottom:40px;
    right:70px;

}
.floating-btn ul{
    list-style: none;
}
.floating-btn ul li{
    font-size: 25px;
    margin-bottom: 10px;
    width:60px;
    height: 60px;    
    background-color:rgb(0, 88, 139);
    color:rgb(243, 243, 243);
    border-radius:50px;    
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}


.btn-float-right-bottom{
    margin-top:20px;
  
}
.floating-btn ul li:hover{
    background-color:rgb(0, 137, 216);

}